body {
  background: rgb(255, 202, 0) none repeat scroll 0% 0%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-family: monospace;
}

a {
  display: inline-block;;
  height: 70px;
  width: 70px;
  line-height: 70px;

  -moz-border-radius: 35px;
  border-radius: 35px;

  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  transition: all .3s;
}

a:hover {
  background-color: rgb(255, 202, 0) ;
  color: black;
}

.main-content {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
